@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 100%;
}
.myplayground{
  display: flex;
  align-items: center;
  font-size: 5.7vw;
  height: 45vh;
}


.play_sub{
    width: 50%;
    margin: 0 auto;
    font-size: 2.083vw;
    line-height: 110%;
    letter-spacing: -0.03em;
    text-align: center;
    margin-top: -4rem;
}

.photo-grid-container {
  column-count: 4;
  column-width: 160px;
  column-gap: 2vmax;
  margin: 2vmax;
  
}

.photo-grid-item {
  margin: 0 auto 4vw;
  max-width: 70vw;
  width: 100%;
}

.heroword{
  position: relative;
  display: inline-block;
  transform: translate(0px, 0px);
  opacity: 1;
  padding-left: 10px;
  padding-right: 10px;
}