@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 100%;
}


.photo-grid-container {
  column-count: 4;
  column-width: 160px;
  column-gap: 2vmax;
  margin: 2vmax;
  
}

.photo-grid-item {
  margin: 0 auto 6vw;
  max-width: 70vw;
  width: 100%;
}

.heroword{
  position: relative;
  display: inline-block;
  transform: translate(0px, 0px);
  opacity: 1;
  padding-left: 10px;
  padding-right: 10px;
}