@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gloock&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/RoxboroughCF.ttf) format('truetype');
} */

@font-face {
  font-family: 'PPNeueMontreal';
  src: local('PPNeueMontreal'), url(./fonts/PPNeueMontreal-Medium.otf) format('opentype');
}
.customfont{
  font-family: PPNeueMontreal;
}

.design {
  font-family: "Gloock", serif;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 1px;
}

img {
  width: 100%;
}


.photo-grid-container {
  column-count: 3;
  column-width: 380px;
  column-gap: 2vmax;
  padding-left: 20px;
  padding-right: 20px;
  
}

.photo-grid-item {
  margin-left: auto;
  break-inside: avoid;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 65vw;
  width: 100%;
}

/* .gscale img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.gscale img:hover{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
} */

.carousel-slide {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
}
/* .gradient-box {
  background: linear-gradient(-45deg, #444444, #323232, #181818, #000000);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.glow {
  animation: pulse 2s infinite alternate; /* Adjust animation duration and other properties as needed */
}
@keyframes pulse {
  from {
      box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
  }
  to {
      box-shadow: 0 0 12px 5px rgba(255, 255, 255, 0.386); /* Adjust glow effect */
  }
}

.calendar-grid {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.month-column {
  flex: 0 0 auto; /* Ensure each month column takes its content width */
  margin-right: 0px;
}
.day {
  flex: 1;
  padding: 6px;
  margin: 1px; /* Add margin for the gap between dates */
  text-align: center;
  border: 1px solid #ccc;
}


.scroller {
  max-width: 100%;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 100s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #727272; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #727272; /* Color of the scrollbar handle on hover */
}

/*Shinny button*/


:root {
  --radial-gradient-background: 250, 250, 250;
  --solid-color-background: 15, 15, 15;
  --overlay-color: 255, 255, 255;
  --purple: rgb(162, 41, 214);
  --violet: rgb(116, 75, 185);
  --pink: rgb(248, 170, 196);
}

.radial-gradient {
  background: radial-gradient(
          circle at 50% 0%,
          rgba(var(--radial-gradient-background), 0.05) 0%,
          transparent 60%
      )
      rgba(var(--solid-color-background), 1);
}

.linear-mask {
  mask-image: linear-gradient(
      -75deg,
      white calc(var(--x) + 20%),
      transparent calc(var(--x) + 30%),
      white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
      -75deg,
      white calc(var(--x) + 20%),
      transparent calc(var(--x) + 30%),
      white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
      -75deg,
      rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
      rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
      rgba(var(--overlay-color), 0.1) calc(var(--x) + 100%)
  );
  mask:
      linear-gradient(black, black) content-box,
      linear-gradient(black, black);
  -webkit-mask:
      linear-gradient(black, black) content-box,
      linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}


/* Hero section */

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from, to {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(180deg);
  }
}

h1 {
  color: white;
  font-weight: 400;
  text-align: center;
}

h1 > .magic {
  display: inline-block;
  position: relative;
}

h1 > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  
  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

h1 > .magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

h1 > .magic > .magic-star > svg > path {
  fill: var(--pink);
}

h1 > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}




/*Work */
